@charset "utf-8";

.title-container {
    background-color: var(--system-manage-bg-color);
}
.title-box {
    max-width: 575px;
}
.editor-toolbox {
    position: fixed;
    z-index: 9000;
    bottom: 100px;
    right: 20px;
    display: none;

    a:not(.sidenav-link):not(.btn):not(.dropdown-item):not(.nav-link):not(.navbar-brand):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next) {
        box-sizing: border-box;
        display: block;
        background-color: var(--text-default-800);
        color: var(--text-default-50);
        border-radius: 100%;

        font-size: 2.6em;
        width: 3.2rem;
        height: 3.2rem;
        padding: 0.2rem;
    }
    a:hover {
        opacity: 0.6;
        transition: 0.2s;
    }

    i {
        display: block;
        margin: 0 0;
        padding: 0;
    }
}

// mdbのスタイルの無効化
.input-type.wysiwyg {
    a:not(.sidenav-link):not(.btn):not(.dropdown-item):not(.nav-link):not(.navbar-brand):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next) {
        color: var(--mdb-primary);
    }
    a:not(.sidenav-link):not(.btn):not(.dropdown-item):not(.nav-link):not(.navbar-brand):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next):hover {
        color: var(--mdb-primary);
    }
    a {
        text-decoration: underline;
    }

    mark,
    .mark {
        padding: inherit;
    }

    hr {
        color: inherit;
        opacity: inherit;
    }

    .table {
        width: inherit;
        margin-bottom: inherit;
        color: inherit;
        background: inherit;
        vertical-align: inherit;
        border-color: inherit;
        font-size: inherit;

        > :not(caption) > * > * {
            padding: inherit;
            background-color: inherit;
            border-bottom-width: inherit;
            box-shadow: inherit;
        }

        > tbody {
            vertical-align: inherit;
        }

        > thead {
            vertical-align: inherit;
        }

        > :not(:first-child) {
            border-top: inherit;
        }
    }
}

// 編集時の個別調整
.input-type {
    &.text,
    &.multitext {
        border: 3px dotted var(--mdb-secondary) !important;
        border-radius: 0.6rem !important;
        background-color: transparent !important;
        width: 100%;
    }
    &.multitext {
        resize: none;
        scrollbar-width: none;
    }
    &.image {
        &.file-area {
            position: relative;
            display: inline-block;
            padding: 0.2rem;
            border: 4px dashed var(--mdb-secondary);
            border-radius: 0.8rem;
            line-height: 0;
        }
        &.file-area.active {
            border: 4px solid var(--mdb-primary);
        }

        .file-upload-button {
            position: absolute;
            background: transparent;
            border: none;
            width: 100%;
            height: 100%;
        }

        .delete-button {
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 0.3rem;
            background-color: rgba(255, 255, 255, 0.7) !important;
            color: var(--mdb-danger) !important;
            border: none;
            border-radius: 0.4rem;
        }
    }
}

.html_area {
    .input-type.text,
    .input-type.multitext {
        color: unset;
    }
}
